:root{
  --bodybgcolor:#272727;
  --navbarboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
  --navbardivbgcolor: #333;
  --midDivbgcolor:#464646;
  --midDivboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
  --footboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
  --footcolor:white;
  --footbgcolor: #333;
  --homeiconacolor:white;
  --searchbordercolor: rgb(218, 218, 218);
  --searchbgcolor: rgb(29, 29, 29);
  --searchcolor: rgb(189, 189, 189);
  --topnavbgcolor: #333;
  --topnavacolor: #f2f2f2;
  --topnavaActivebgcolor: #f39c12;
  --topnavAactivecolor: white;
  --searchIcolor: rgb(218, 218, 218);
  --searchareaFocuscolor: #f39c12;
  --searchFocus:#f39c12;
  --dropbtncolor: white;
  --dropbtnHovercolor: #f39c12;
  --dropdowncontentboxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  --dropdowncontentAcolor: #E2E2E2;
  --topnavAhoverbgcolor: #5C5A5A;
  --dropdownHoverDropbtnbgcolor: #5C5A5A;
  --dropdowncontentAhoverColor: #f39c12;
  --dropdownHoverDropdownContentbgcolor:#272727;
  --rowheadingareabgcolor: #333;
  --rowheadingareacolor:white;
  --rowheadingareaborderrightcolor: #f39c12;
  --rowheadingareaboxshadow: 2px 2px 3px 1px rgba(0,0,0,1);
  --rowheadingareaHover: #f39c12;
  --animethumbsboxshadow: 2px 2px 5px 0px rgba(26,26,26,1);
  --animethumbsbgcolor: rgb(255, 255, 255);
  --imagetextbgcolor: rgb(255, 255, 255);
  --leftbuttonboxshadow: 3px 3px 3px 0px rgba(0,0,0,1);
  --leftbuttonbgcolor: #333;
  --faangleleftcolor: #f39c12;
  --acctdropbtncolor: rgb(146, 145, 145); 
  --acctareaAcolor: #f2f2f2;
  --acctareaAhoverbgcolor: #5C5A5A;
  --acctareaAhovercolor: #f39c12;
  --acctdropcontentboxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  --acctdropdownHoverAcctdropcontentbgcolor: rgb(29, 29, 29);
  --acctdropcontentPcolor: white;
  --themesliderbgcolor: #7c7c7c;
  --themesliderboxshadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  --themesliderdivbgcolor:#333;
  --themesliderleft: 0px;
}

body{
    background: var(--bodybgcolor);
  }
  
  .wrapper{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    padding:0em;
    grid-gap:0.5em; 
    background-color: transparent;
  }
  #navbar{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr;
    text-align: center;
    grid-auto-rows: 55px;
    z-index:5;
    box-shadow: var(--navbarboxshadow);
  
  }
  #navbar>div{
    padding: 0em;
    background-color: var(--navbardivbgcolor);
  }
  #mid{
    display: grid;
    grid-template-columns:100%;
    grid-gap:0.5em;
    grid-auto-rows:minmax(350px,auto);
  }
  #mid>div{
    padding:1em;
    background-color: var(--midDivbgcolor);  
    box-shadow: var(--midDivboxshadow);
  
  }
  #foot{
    box-shadow: var(--footboxshadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    align-items: center;
    justify-items: center; 
    padding:1em;
    background-color:var(--footbgcolor);
    color: var(--footcolor);
  }
  
  #homeicon a{
    height:45px;
    font-size: 35px;
    margin-top: 0px;
    margin-left:0px;
    float: left;
    padding: 10px 15px 0px 15px;
    color:var(--homeiconacolor);
    text-decoration: none;
    text-align: center;
    text-decoration-style: none;
  }
  
  
  #search{
    width: 320px;
    height:24px;
    margin-top: 11px;
    margin-left: 50px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--searchbordercolor);
    background-color: var(--searchbgcolor);
    color: var(--searchcolor);
    padding:4px 4px 4px 6px;
  }
  .topnav {  
    background-color: var(--topnavbgcolor);
    overflow: hidden;
  }
  .topnav a {
    height:63px;
    margin-top:-3px;
    padding: 22px 20px;
    float: left;
    color: var(--topnavacolor);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
  }
  
  .topnav a.active {
    background-color: var(--topnavaActivebgcolor);  
    color: var(--topnavAactivecolor);
  }
  input:focus{
     outline:none;
  }
  .searcharea{
    position: relative;
  }
  .searcharea i{
  
    position: absolute;
    left:370px;
    top:20px;
    color: var(--searchIcolor); 
  }
  .searcharea:focus + fas{
    color: var(--searchareaFocuscolor);
  }
  #search:focus{
    border-color:var(--searchFocus);
    border-style: solid;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    display:block;
    font-size: 17px;    
    border: none;
    outline: none;
    color: var(--dropbtncolor);
    padding-top: 18px ;
    padding-left:16px;
    padding-right:16px;
    padding-bottom:10px;
    background-color: inherit;
    font-family: inherit;
    margin-top: 0px;
    height:100%;
  }
  .dropbtn:hover{
    color: var(--dropbtnHovercolor);
  }
  .dropdown-content {
    margin-top:0px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: var(--dropdowncontentboxshadow);
    z-index: 1;
    padding:1em;
  }
  
  .dropdown-content a {
    float: none;
    color: var(--dropdowncontentAcolor);
    text-decoration: none;
    text-align: left;
    padding:3px;
  }
  
  .topnav a:hover{
      background-color: var(--topnavAhoverbgcolor);
      color: #f39c12;
  }
  .dropdown:hover .dropbtn {
    background-color: var(--dropdownHoverDropbtnbgcolor);
  }
  
  .dropdown-content a:hover {
    color: var(--dropdowncontentAhoverColor);
    background-color: transparent;
  }
  
  .dropdown:hover .dropdown-content {
    display: grid;
    background-color:var(--dropdownHoverDropdownContentbgcolor);
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }
  .row{
      display:grid;
      grid-template-columns: 1fr;
      position: relative;
  }
  .animethumbarea{
      display: grid;
      grid-template-columns: repeat(6,225px);
      grid-column-gap: 3em;;
      justify-content:center;
      padding:1em;
  }
  .rowheadingarea{
      padding:1em;
      margin:1em;
      background-color: var(--rowheadingareabgcolor);
      /*width:30px;*/
      width: 5%;
      color:var(--rowheadingareacolor);
      border-right-width: 5px;
      border-right-color: var(--rowheadingareaborderrightcolor);
      border-right-style: solid;
      box-shadow: var(--rowheadingareaboxshadow);
  }
  .rowheadingarea:hover{
      color: var(--rowheadingareaHover);
  }
  .animethumbs{
    z-index:1;
    box-shadow: var(--animethumbsboxshadow);
    background-color: #333;/*var(--animethumbsbgcolor);*/
    margin-bottom:10px;
    transition: transform .2s;
  }
  .imagetext{
      background-color: #333;/*var(--imagetextbgcolor);*/
      text-align: center;
      padding:auto;
      color:white;
  }
  .animethumbs:hover{
      transform: scale(1.1);
  }
  .leftbutton{
        border-radius:50%;
        height:75px;
        width:75px;
        border: none;
        box-shadow: var(--leftbuttonboxshadow);
        background-color: var(--leftbuttonbgcolor);
        transition: transform .2s;
  
  }
  .leftbutton:hover{
      transform: scale(1.1);
  }
  .rightbutton{
    border-radius:50%;
    height:75px;
    width:75px;
    border: none;
    box-shadow: var(--leftbuttonboxshadow);
    background-color: var(--leftbuttonbgcolor);
    transition: transform .2s;
  }
  .rightbutton:hover{
  transform: scale(1.1);
  }
  
  .fa-angle-left{
      color: var(--faangleleftcolor);
  }
  .fa-angle-right{
    color: var(--faangleleftcolor);
  }
  .leftbutton:focus, .rightbutton:focus{
    outline:none;
  }
  
  #but1{                      /*buttons for viewing list left right*/
  position: absolute;
  z-index: 2;
  top: 260px;
  left: 15px;
  }
  #but2{
  position: absolute;
  z-index: 2;
  top: 260px;
  left:1710px;
  }
  #but3{
  position: absolute;
  z-index: 2;
  top: 260px;
  left: 0px;
  }
  #but4{
  position: absolute;
  z-index: 2;
  top:260px;
  left:1695px;
  }
  #but5{
  position: absolute;
  z-index: 2;
  top: 260px;
  left: 0px;
  }
  #but6{
  position: absolute;
  z-index: 2;
  top:260px;
  left:1695px;
  }
  #acctdropdown{
    display:block;
    align-items:center;
    overflow: hidden;
  }
  #acctdropbtn{
    display:block;
    float:left;
    background-color: transparent;
    border:none;
    outline:none;
    color: var(--acctdropbtncolor); 
    padding:15px;
    transition: transform 0.2s;
  }
  #acctdropbtn:hover{
    transform: rotate(90deg);
  }
  #acctarea a{
    padding: 17px;
    float: left;
    color: var(--acctareaAcolor);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }
  #acctarea a:hover{
    background-color: var(--acctareaAhoverbgcolor);
    color: var(--acctareaAhovercolor);
  }
  #acctdropcontent{
    margin-top:50px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: var(--acctdropcontentboxshadow);
    z-index: 1;
    padding: 5px;
  }
  #acctdropdown:hover #acctdropcontent{
    display: grid;
    background-color: var(--acctdropdownHoverAcctdropcontentbgcolor);
    grid-template-columns: 1fr 1fr ;
    text-align: left;
    align-items: center;
    justify-items: center;
  }
  #acctdropcontent p{
    color: var(--acctdropcontentPcolor);
  }
  #themeslider{
    background: var(--themesliderbgcolor);
    position: relative;
    top:-3px;
    height: 24px;
    width:24px ;
    border-radius: 50%;
    border:none;
    transition-duration: 0.2s;
    left:var(--themesliderleft);
    box-shadow: var(--themesliderboxshadow);
}
#themeslider:focus{
    outline: none;
}

#themesliderdiv{
    background-color:var(--themesliderdivbgcolor);
    width:40px;
    height:17px;
    border-radius: 200px;
}
  