<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Trade+Winds&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="swiper.min.css">
    <link rel="stylesheet" href="animemes.css">
    <title>AnimeNow</title>
</head>

<body>
    <div class="modal">
        <div class="modal-content">
            <form action="/animemes/upload" method="post" enctype="multipart/form-data" id="memeform">
                <input type="text" name="title" id="title" placeholder="  Title" required><br><br><br>
                
                <div class="drop-area" id="drop-area">
                    <div id="default-drop-area">
                        <input type="file" name="mymeme" id="meme-img">
                        <label class="uploadlabel" for="meme-img">Click here to
                            upload</label>
                    </div>
                    <img src="#" alt="Error loading image" style="display: none;" id="imgprev">
                </div>
                <br><br>
                <button type="reset" class="dropareabtn reset" onclick="resetform()">Reset</button>
                <br><br>
                <button type="submit" class="dropareabtn submit">Upload</button>

            </form>
        </div>
    </div>
    <div class="wrapper">
        <nav>
            <div id="homeicon">
                <a href="/">AnimeNow</a>
            </div>
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/list">List</a>
                <div class="genredropdown">
                    <a class="genredropbtn">Genre</a>
                    <div class="genredropdown-content">
                        <div>
                            <div><a href="/genre/action" class="genreid">Action</a></div>
                            <div><a href="/genre/adventure" class="genreid">Adventure</a></div>
                            <div><a href="/genre/comedy" class="genreid">Comedy</a></div>
                            <div><a href="/genre/Drama" class="genreid">Drama</a></div>
                            <div><a href="/genre/slice of life" class="genreid">Slice of life</a></div>
                        </div>
                        <div>
                            <div><a href="/genre/fantasy" class="genreid">Fantasy</a></div>
                            <div><a href="/genre/Magic" class="genreid">Magic</a></div>
                            <div><a href="/genre/mystery" class="genreid">Mystery</a></div>
                            <div><a href="/genre/supernatural" class="genreid">Supernatural</a></div>
                            <div><a href="/genre/horror" class="genreid">Horror</a></div>                            
                        </div>

                        <div>
                            <div><a href="/genre/psychological" class="genreid">Psychological</a></div>
                            <div><a href="/genre/sci-fi" class="genreid">Sci-Fi</a></div>
                            <div><a href="/genre/romance" class="genreid">Romance</a></div>
                            <div><a href="/genre/thriller" class="genreid">Thriller</a></div>
                            <div><a href="/genre/mecha" class="genreid">Mecha</a></div>
                        </div>
                    </div>
                </div>
                <a href="#browse">Browse</a>
                <a href="/animemes" class="active">Animemes</a>
                <a href="#upload" id="updbtn">Upload</a>
            </div>

            <div class="searcharea">
                <form action="/search" method="POST" id="searchform">
                    <input type="text" id="search" name="searchkey" placeholder="Search">
                    <button type="submit" class="bootstrapbtn white">Search</button>
                </form>
            </div>
            <% if(typeof user !='undefined'){%>

            <div class="acctarea">
                <a href="#" id="acctname">Welcome, <%=user.username%></a>
                <div id="acctdropcontent">
                    <a href="/profile" class="acctlinks">Profile</a>
                    <a href="/setting" class="acctlinks">Settings</a>
                    <a href="/logout" class="acctlinks">Logout</a>
                </div>
            </div>
            <% } else {%>
            <div class="acctarea">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            <% }%>
        </nav>
        <div id="mid">
            <div class="row">
                <div class="swiper-container meme">
                    <div class="swiper-wrapper" id="memearea">

                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="foot">
        <div>
            About Us
        </div>
        <div>
            Contact Us
        </div>
    </div>
    </div>
    <script src="bootstrap.min.js"></script>
    <script>
        var memelist = <%- JSON.stringify(memelist) %>
        console.log(memelist);
    </script>
    <script src="swiper.min.js"></script>
    <script src="animemepage.js"></script>
    <script>
    var swiper = new Swiper('.swiper-container.meme', {
        direction: 'vertical',
        // autoHeight: true,
        slidesPerView: 1,
        spaceBetween: 500,
        mousewheel: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
            },
        });
        setTimeout(() => {
	    swiper.update()
        }, 100)
    </script>
</body>

</html>