<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="homestyle.js"></script> -->
    <script>
        var genid =<%=genid%>;
        fetch('https://api.jikan.moe/v3/genre/anime/' + genid + '/1')
            .then((response) => {
                console.log(response);
                return response.json();
            })
            .then((data) => {
                for (var i = 0; i < 100; i++) {
                    const element = data.anime[i];
                    document.getElementById("newanime").insertAdjacentHTML('beforeend', '<div class="animethumbs"><div class="animage"><img src=' + element.image_url + ' alt="Error Displaying the image" class="animage"></div><div class="imagetext"><p>' + element.title + '</p></div>');
                }
            });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Trade+Winds&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="home.css">
        <link rel="stylesheet" href="animethumb.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>AnimeNow</title>
</head>

<body>
    <div class="wrapper">
        <nav>
            <div id="homeicon">
                <a href="/">AnimeNow</a>
            </div>
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/list">List</a>
                <div class="genredropdown">
                    <a class="genredropbtn active">Genre</a>
                    <div class="genredropdown-content">
                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="1" name="genrebtn">Action</button>
                                </div>
                                <div><button type="submit" class="genreid" value="2" name="genrebtn">Adventure</div>
                                <div><button type="submit" class="genreid" value="4" name="genrebtn">Comedy</button>
                                </div>
                                <div><button type="submit" class="genreid" value="8" name="genrebtn">Drama</button>
                                </div>
                                <div><button type="submit" class="genreid" value="36" name="genrebtn">Slice of
                                        Life</button></div>
                            </form>
                        </div>

                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="10" name="genrebtn">Fantasy</button>
                                </div>
                                <div><button type="submit" class="genreid" value="16" name="genrebtn">Magic</button>
                                </div>
                                <div><button type="submit" class="genreid" value="37"
                                        name="genrebtn">Supernatural</button></div>
                                <div><button type="submit" class="genreid" value="14" name="genrebtn">Horror</button>
                                </div>
                                <div><button type="submit" class="genreid" value="7" name="genrebtn">Mystery</button>
                                </div>
                            </form>
                        </div>

                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="40"
                                        name="genrebtn">Psychological</button></div>
                                <div><button type="submit" class="genreid" value="22" name="genrebtn">Romance</button>
                                </div>
                                <div><button type="submit" class="genreid" value="24" name="genrebtn">Sci-Fi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a href="#browse">Browse</a>
                <a href="/animemes">Animemes</a>
            </div>

            <div class="searcharea">
                <form action="/search" method="POST" id="searchform">
                    <input type="text" id="search" name="searchkey" placeholder="Search">
                    <button type="submit" class="bootstrapbtn white">Search</button>
                </form>
            </div>
            <% if(typeof user !='undefined'){%>
            
            <div class="acctarea">
                <a href="/home" id="acctname">Welcome, <%=user.username%></a>
                <div id="acctdropcontent">
                    <a href="/profile" class="acctlinks">Profile</a>
                    <a href="/setting" class="acctlinks">Settings</a>
                    <a href="/logout" class="acctlinks">Logout</a>
                </div>
            </div>
            <% } else {%>
            <div class="acctarea">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            <% }%>
        </nav>
        <div id="mid">
            <div class="row" id="midrow">
                <div class="animethumbarea" id="newanime">

                </div>
            </div>

        </div>
        <div id="foot">
            <div>
                About Us
            </div>
            <div>
                Contact Us
            </div>
        </div>
</body>

</html>