<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
        <% if(typeof user !='undefined'){%>
            var animelist= <%= JSON.stringify(user.anime_mal_id)%>
            // console.log(animelist);
        <%} else{%>
            console.log("user not logged in");
       <% } %>
    </script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Trade+Winds&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8bdcc132e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <!-- <link rel="stylesheet" href="icons.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="swiper.min.css">
    <title>AnimeNow</title>
</head>

<body>
    <div class="wrapper">
        <nav>
            <div id="homeicon">
                <a href="/">AnimeNow</a>
            </div>
            <div class="topnav">
                <a href="/" class="active">Home</a>
                <a href="/list">List</a>
                <div class="genredropdown">
                    <a class="genredropbtn">Genre</a>
                    <div class="genredropdown-content">
                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="1" name="genrebtn">Action</button>
                                </div>
                                <div><button type="submit" class="genreid" value="2" name="genrebtn">Adventure</div>
                                <div><button type="submit" class="genreid" value="4" name="genrebtn">Comedy</button>
                                </div>
                                <div><button type="submit" class="genreid" value="8" name="genrebtn">Drama</button>
                                </div>
                                <div><button type="submit" class="genreid" value="36" name="genrebtn">Slice of
                                        Life</button></div>
                            </form>
                        </div>

                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="10" name="genrebtn">Fantasy</button>
                                </div>
                                <div><button type="submit" class="genreid" value="16" name="genrebtn">Magic</button>
                                </div>
                                <div><button type="submit" class="genreid" value="37"
                                        name="genrebtn">Supernatural</button></div>
                                <div><button type="submit" class="genreid" value="14" name="genrebtn">Horror</button>
                                </div>
                                <div><button type="submit" class="genreid" value="7" name="genrebtn">Mystery</button>
                                </div>
                            </form>
                        </div>

                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="40"
                                        name="genrebtn">Psychological</button></div>
                                <div><button type="submit" class="genreid" value="22" name="genrebtn">Romance</button>
                                </div>
                                <div><button type="submit" class="genreid" value="24" name="genrebtn">Sci-Fi</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a href="#browse">Browse</a>
                <a href="/animemes">Animemes</a>
            </div>

            <div class="searcharea">
                <form action="/search" method="POST" id="searchform">
                    <input type="text" id="search" name="searchkey" placeholder="Search">
                    <button type="submit" class="bootstrapbtn white">Search</button>
                </form>
            </div>
            <% if(typeof user !='undefined'){%>

            <div class="acctarea">
                <a href="/home" id="acctname">Welcome, <%=user.username%></a>
                <div id="acctdropcontent">
                    <a href="/profile" class="acctlinks">Profile</a>
                    <a href="/setting" class="acctlinks">Settings</a>
                    <a href="/logout" class="acctlinks">Logout</a>
                </div>
            </div>
            <% } else {%>
            <div class="acctarea">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            <% }%>
        </nav>
        <div id="mid">
            <div class="row">
                <div class="rowheadingarea">
                    <div class="rowheading">New</div>
                </div>
                <br><br>
                <div class="buttonplace">
                    <div class="swiper-container new">
                        <div class="swiper-wrapper" id="newanime">

                        </div>
                        <!-- Add Pagination -->
                        <br>
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="rowheadingarea">
                    <div class="rowheading">Trending</div>
                </div>
                <div class="buttonplace">
                    <div class="swiper-container trend">
                        <div class="swiper-wrapper" id="trendanime">

                        </div>
                        <br>
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="rowheadingarea">
                    <div class="rowheading">Top Charts</div>
                </div>
                <div class="buttonplace">
                    <div class="swiper-container top">
                        <div class="swiper-wrapper" id="topanime">

                        </div>
                        <!-- Add Pagination -->
                        <br>
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>

            </div>
        </div>

        <div id="foot">
            <div>
                About Us

            </div>
            <div>
                Contact Us
            </div>
        </div>

    </div>

    <!-- <script src="bootstrap.min.js"></script> -->

    <script src="home.js"></script>
    <script src="swiper.min.js"></script>
</body>

</html>