/* list.html specific css */
#midrow ul{
    padding:5px;
    margin:0px;
}
#anilink{
    text-decoration: none;
    color: white;
    padding: 0px;
    font-family: 'Oxygen';
}
#anilink:visited{
    color: white;
}
.row h1{
    color: white;
}
#anilink:hover{
    color: #f39c12;
    text-decoration: underline;
}
#listcol{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}