<!DOCTYPE html>
<html lang="en">

<head>
    <script src="homestyle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Trade+Winds&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="list.css">
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AnimeNow</title>
</head>

<body>
    <div class="wrapper">
        <div id="navbar">
            <div id="homeicon">
                <a href="home.html">AnimeNow</a>
            </div>
            <div class="topnav">
                <a href="/">Home</a>
                <a href="/list" class="active">List</a>
                <div class="dropdown">
                    <button class="dropbtn">Genre</button>
                    <div class="dropdown-content">
                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="1" name="genrebtn">Action</button></div>
                                <div><button type="submit" class="genreid" value="2" name="genrebtn">Adventure</div>
                                <div><button type="submit" class="genreid" value="4" name="genrebtn">Comedy</button></div>
                                <div><button type="submit" class="genreid" value="8" name="genrebtn">Drama</button></div>
                                <div><button type="submit" class="genreid" value="36" name="genrebtn">Slice of Life</button></div>
                            </form>
                        </div>

                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="10" name="genrebtn">Fantasy</button></div>
                                <div><button type="submit" class="genreid" value="16" name="genrebtn">Magic</button></div>
                                <div><button type="submit" class="genreid" value="37" name="genrebtn">Supernatural</button></div>
                                <div><button type="submit" class="genreid" value="14" name="genrebtn">Horror</button></div>
                                <div><button type="submit" class="genreid" value="7" name="genrebtn">Mystery</button></div>
                            </form>
                        </div>

                        <div>
                            <form action="/genre" method="POST">
                                <div><button type="submit" class="genreid" value="40" name="genrebtn">Psychological</button></div>
                                <div><button type="submit" class="genreid" value="22" name="genrebtn">Romance</button></div>
                                <div><button type="submit" class="genreid" value="24" name="genrebtn">Sci-Fi</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <a href="#browse">Browse</a>
                <a href="#animemes">Animemes</a>
            </div>

            <div class="searcharea">
                <form action="/search" method="POST" id="searchform">
                    <input type="text" id="search" name="searchkey" placeholder="Press Enter to Search">
                </form>
            </div>
            <div id="acctarea">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <div id="acctdropdown">
                    <button id="acctdropbtn"><i class="fas fa-cog fa-2x"></i></button>
                    <div id="acctdropcontent">
                        <p>
                            Turn Dark theme ON/OFF
                        </p>
                        <div id="themesliderdiv">
                            <button id="themeslider" onclick="changetheme()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MID AREA -->
        <div id="mid">
            <div class="row" id="midrow">
                <h1>List</h1>
                <div id="listcol">

                </div>
            </div>
        </div>
        <div id="foot">
            <div>
                About Us
            </div>
            <div>
                Contact Us
            </div>
        </div>
        <script src="list.js"></script>
</body>

</html>
                <!-- <div>
                <form action="getlist()" id="startword">
                    <button>#</button>
                    <button>A</button>
                    <button>B</button>
                    <button>C</button>
                    <button>D</button>
                    <button>E</button>
                    <button>F</button>
                    <button>G</button>
                    <button>H</button>
                    <button>I</button>
                    <button>J</button>
                    <button>K</button>
                    <button>L</button>
                    <button>M</button>
                    <button>N</button>
                    <button>O</button>
                    <button>P</button>
                    <button>Q</button>
                    <button>R</button>
                    <button>S</button>
                    <button>T</button>
                    <button>U</button>
                    <button>V</button>
                    <button>W</button>
                    <button>X</button>
                    <button>Y</button>
                    <button>Z</button>
                </form>
                </div>
                <table id="anilisttable">
                    <tr>
                        <th>S.No.</th>
                        <th>Title</th>
                        <th>Mal</th>
                    </tr>
                </table> -->