<!DOCTYPE html>
<html lang="en">

<head>
    <script src="homestyle.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Trade+Winds&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8bdcc132e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="signup.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>AnimeNow</title>
</head>

<body>
    <div class="wrapper">
        <nav id="navbar" class="navbar">
            <div id="homeicon">
                <a href="/">AnimeNow</a>
            </div>
            <div class="topnav">
                <a href="/">Home</a>
                <a href="catalogue">Catalogue</a>
                <div class="genredropdown" onclick="showgenre()">
                    <a class="genredropbtn">Genre</a>
                    <i class="fas fa-caret-down"></i>
                    <div class="genredropdown-content">
                        <div>
                            <div><a href="/genre/action" class="genreid">Action</a></div>
                            <div><a href="/genre/adventure" class="genreid">Adventure</a></div>
                            <div><a href="/genre/comedy" class="genreid">Comedy</a></div>
                            <div><a href="/genre/Drama" class="genreid">Drama</a></div>
                            <div><a href="/genre/slice of life" class="genreid">Slice of life</a></div>
                        </div>
                        <div>
                            <div><a href="/genre/fantasy" class="genreid">Fantasy</a></div>
                            <div><a href="/genre/Magic" class="genreid">Magic</a></div>
                            <div><a href="/genre/mystery" class="genreid">Mystery</a></div>
                            <div><a href="/genre/supernatural" class="genreid">Supernatural</a></div>
                            <div><a href="/genre/horror" class="genreid">Horror</a></div>                            
                        </div>
          
                        <div>
                            <div><a href="/genre/psychological" class="genreid">Psychological</a></div>
                            <div><a href="/genre/sci-fi" class="genreid">Sci-Fi</a></div>
                            <div><a href="/genre/romance" class="genreid">Romance</a></div>
                            <div><a href="/genre/thriller" class="genreid">Thriller</a></div>
                            <div><a href="/genre/mecha" class="genreid">Mecha</a></div>
                        </div>
                    </div>
                </div>
                <div class="genre-mobile-links" id="genre-mobile-links">
                    <div><a href="/genre/action" class="genreid">Action</a></div>
                    <div><a href="/genre/adventure" class="genreid">Adventure</a></div>
                    <div><a href="/genre/comedy" class="genreid">Comedy</a></div>
                    <div><a href="/genre/Drama" class="genreid">Drama</a></div>
                    <div><a href="/genre/slice of life" class="genreid">Slice of life</a></div>
                    <div><a href="/genre/fantasy" class="genreid">Fantasy</a></div>
                    <div><a href="/genre/Magic" class="genreid">Magic</a></div>
                    <div><a href="/genre/mystery" class="genreid">Mystery</a></div>
                    <div><a href="/genre/supernatural" class="genreid">Supernatural</a></div>
                    <div><a href="/genre/horror" class="genreid">Horror</a></div>
                    <div><a href="/genre/psychological" class="genreid">Psychological</a></div>
                    <div><a href="/genre/sci-fi" class="genreid">Sci-Fi</a></div>
                    <div><a href="/genre/romance" class="genreid">Romance</a></div>
                    <div><a href="/genre/thriller" class="genreid">Thriller</a></div>
                    <div><a href="/genre/mecha" class="genreid">Mecha</a></div>
                </div>
                <% if(typeof user !='undefined'){%>
                <a href="/mylist">My List</a>
                <% } else {%>
                <a href="/mylist"style="display: none;">My List</a>
                <% }%>
                <a href="/animemes">Animemes</a>
            </div>
            <div class="searcharea">
                <form action="/search" method="GET" id="searchform">
                    <input type="text" id="search" name="searchkey" placeholder="Search">
                    <button type="submit" class="bootstrapbtn white">Search</button>
                </form>
            </div>
                            <% if(typeof user !='undefined'){%>
            <div class="acctarea" onclick="showacctlinks()">
                <div class="act">
                    <a id="acctname">Welcome, <%=user.username%></a><i class="fas fa-caret-down"></i>
                </div>
                <div id="acctdropcontent" class="acctdropcontent">
                    <!-- <a href="/profile" class="acctlinks">Profile</a>
                    <a href="/setting" class="acctlinks">Settings</a> -->
                    <a href="/logout" class="acctlinks">Logout</a>
                </div>
            </div>
            <div id="acctdropcontent-mobile" class="acctdropcontent-mobile">
                <!-- <a href="/profile" class="acctlinks">Profile</a>
                <a href="/setting" class="acctlinks">Settings</a> -->
                <a href="/logout" class="acctlinks">Logout</a>
            </div>
            <% } else {%>
            <div class="acctarea">
                <div class="act"><a href="/login" class="active">Login</a></div>
                <div class="act"><a href="/signup">Signup</a></div>
            </div>
            <% }%>
            <a class="ham-icon" onclick="showtopnav()">
                <i class="fas fa-bars fa-lg"></i>
            </a>
          </nav>
        <div id="mid">
            <div class="row row1" >
                <div class="signuparea">    
                    <%- include('./partials/messages.ejs')%>
                    <form action="/login" method="post">
                        <div class="inputboxdiv">
                            <p>Username:</p> 
                            <input type="text" name="username" id="username" placeholder="Enter Username">
                        </div>
                        <div class="inputboxdiv">
                            <p>Password:</p>
                            <input type="password" name="password" class="userpass" placeholder="Enter Password">
                        </div>
                        <div class="submitbtnarea">
                            <br>
                            <button type="submit" id>Login</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div id="foot">
            <div>
                About Us
            </div>
            <div>
                Contact Us
            </div>
        </div>
        <script src="navresponsive.js"></script>
</body>

</html>