 .swiper-container {
    max-width: 50%;
    max-height: 1000px;
    /* max-height: inherit; */
    margin-left: auto;
    margin-right: auto;

} 
.memearea{
    max-width: 1800px;
} 
.memediv {
    width: 600px;
    padding: 30px;
    background-color: #333333;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.memediv span {
    color: white;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.memediv img{   
    width: 100%;
    height: 100%;
}
.memeuploader {
    float: right;
}
.modal{
    display: none;
    z-index: 6;
    margin: auto;
    position: fixed ;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313132;
    margin: 7% auto;
    width: 400px;
    border: 1px solid #9E9E9E;
    border-radius:10px;
    padding: 20px;
    height: 600px;
}
#title{
    width: 350px;
    height: 30px;
    border: 2px #9E9E9E solid;
    background-color: #444444;
    color: white;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}
#title:focus{
    border: 2px rgb(255, 255, 255) solid;
}
#meme-img{
    display: none;
}

.drop-area{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #444444;
    width: 350px;
    height: 300px;
    max-height: 300px;
    color: white;
    border:4px dashed #9E9E9E;
    border-radius: 10px;
}
.drop-area img{
    max-height: 100%;
    max-width: 100%;
}
.drop-area:hover{
    border:4px dashed white;
}
.uploadlabel:hover{
    cursor: pointer;
}
.dropareabtn{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;   
    width: 355px;
    border: none;
    padding-top:20px ;
    padding-bottom:20px ;
    background: #444444;
}
.dropareabtn:focus{

    outline-width: 2px;
    outline-style: solid;
    outline-color: white;
}
.dropareabtn.reset:hover{
    background-color: rgb(177, 81, 81);    
    cursor: pointer;
}
.dropareabtn.submit:hover{
    background-color: #375A7F;    
    cursor: pointer;
}
.uploadlabel{
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
}