.animethumbarea{
    display: grid;
    grid-template-columns: repeat(6,225px);
    grid-column-gap: 3em;
    justify-content:center;
    padding:1em;
    grid-row-gap: 3em;
}
.animethumbs{
  position: relative;
  z-index:1;
  box-shadow: var(--animethumbsboxshadow);
  background-color:var(--color8);
  transition: 0.2s;
  align-self: start;
}
.imagetext{
  font-family: 'Trade Winds';
    background-color:var(--color8);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: var(--color5);
}
.animethumbs:hover{
    transform: scale(1.05);
}
@media only screen and (max-width: 1690px) {
  .animethumbarea{
    grid-template-columns: repeat(5,225px);
  }
}
@media only screen and (max-width: 1417px) {
  .animethumbarea{
    grid-template-columns: repeat(4,225px);
  }
}
@media only screen and (max-width: 1140px) {
  .animethumbarea{
    grid-template-columns: repeat(3,225px);
  }
}
@media only screen and (max-width: 868px) {
  .animethumbarea{
    grid-template-columns: repeat(2,225px);
  }
}
@media only screen and (max-width: 500px) {
  .animethumbarea{
    grid-template-columns: repeat(1,225px);
  }
}