:root{
--color1:#375A7F;
--color1active: #28415B;
--color1hover:#2f4d6d;
--color2:#272727;
--color3:#464646;
--color4:#F39C12;
--color5:#FFF;
--color6:#000;
--color7:#444;
--color7hover:#313132;
--color8: #333;
--navbarboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
--midDivboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
--footboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
--dropdowncontentboxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
--rowheadingareaboxshadow: 2px 2px 3px 1px rgba(0,0,0,1);
--animethumbsboxshadow: 2px 2px 5px 0px rgba(26,26,26,1);
--leftbuttonboxshadow: 3px 3px 3px 0px rgba(0,0,0,1);
--acctdropcontentboxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
--themesliderboxshadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

body{
  background: var(--color2);
  padding-left:20px;
  padding-right:20px;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  padding:0em;
  grid-gap:0.5em; 
  background-color: transparent;
}
nav{
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  text-align: center;
  z-index:5;
  box-shadow: var(--navbarboxshadow);
  background-color: var(--color1);
}
nav a {
  font-family: 'Trade Winds';
  padding: 15px;
  float: left;
  color: var(--color5);
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  transition: 0.2s;
}

.topnav a.active {
  background-color: var(--color1active);  
  color: var(--color5);
}
.topnav a.active:hover {
  color: var(--color4);
}
nav a:hover{
  background-color: var(--color1hover);
  color: var(--color4);
}


#homeicon a,#homeicon a:hover{
  height:45px;
  font-size: 35px;
  margin-top: 0px;
  margin-left:0px;
  float: left;
  padding: 10px 15px 0px 15px;
  color:var(--color5);
  text-decoration: none;
  text-align: center;
  text-decoration-style: none;
  font-family: 'Trade Winds';
  background-color: transparent;
}

.genredropbtn.active {
  background-color: var(--color1active);   
  color: var(--color5);
}

.genredropdown {
  float: left;
  overflow: hidden;
  padding: 0px;
}

.genredropdown:hover .genredropbtn {
  background-color: var(--color1hover);
}
.genredropdown-content {
  margin-top:55px;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: var(--dropdowncontentboxshadow);
  z-index: 1;
  padding:1em;
}

.genreid{
  background-color: transparent;
  float: left;
  color: var(--color5);
  text-decoration: none;
  text-align: left;
  padding:3 px;
  border: none;
}


.genreid:hover {
  color: var(--color4);
  background-color: transparent;
}

.genredropdown:hover .genredropdown-content {
  display: grid;
  background-color:var(--color2);
  grid-template-columns: 1fr 1fr 1fr;
}

input:focus{
  outline:none;
}
#searchform{
  float :right;
}
#search{

  width: 200px;
  height:25px;
  margin-top: 11px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color6);
  background-color: var(--color5);

  padding:4px 4px 4px 6px;
}
#searchform{
  float: right;
}
#search:focus{
border-color:var(--color4);
border-style: solid;
}
#searchform button{
  border-style: none;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  background-color: var(--color7);
  color: var(--color5);
  padding: 9px;
  margin-left: 5px;
}
#searchform button:hover{
  background-color: var(--color7hover);
}
.acctarea{
  margin-left: 50px;
  display:block;
  padding-right: 10px;
}
/* #acctbtnicon{
  float: left; 
  color: var(--color5);
  padding: 11px 15px 11px 0px;
}
.acctarea:hover i{
  background-color: transparent;
  color: var(--color4);
} */
#acctdropcontent{
  /* float: right; */
  margin-top:55px;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: var(--acctdropcontentboxshadow);
  z-index: 1;
  padding: 5px;
}
.acctarea:hover #acctdropcontent{
  display: grid;
  background-color: var(--color2);
}
.acctlinks{
  padding: 10px;
  float: none;
  text-align: left;
  text-decoration: none;
  font-size: 17px;
  color: white;
  background-color: transparent;
}
.acctlinks:hover{
  background-color:/*#313132 */ var(--color8);
  color: var(--color4);
}
/* MID AREA */
#mid{
  display: grid;
  grid-template-columns:100%;
  grid-gap:0.5em;
  grid-auto-rows:minmax(350px,auto);
  height: 100%;
}
#mid>div{
  padding:1em;
  background-color: var(--color3);  
  box-shadow: var(--midDivboxshadow);

}

.row{
    display:grid;
    grid-template-columns: 1fr;
    position: relative;
}
.animethumbarea{
    display: grid;
    grid-template-columns: repeat(6,225px);
    grid-column-gap: 3em;
    justify-content:center;
    padding:1em;
    grid-row-gap: 3em;
}
.rowheadingarea{
    padding:1em;
    margin:1em;
    background-color: var(--color8);
    /*width:30px;*/
    height: 20px;
    width: 5%;
    color:var(--color5);
    border-right-width: 5px;
    border-right-color: var(--color4);
    border-right-style: solid;
    box-shadow: var(--rowheadingareaboxshadow);
}
.rowheadingarea:hover{
    color: var(--color4);
}
.animethumbs{
  position: relative;
  z-index:1;
  box-shadow: var(--animethumbsboxshadow);
  background-color:var(--color8);
  transition: 0.2s;
  align-self: start;
}
/* .animethumblink{
  text-decoration: none;
  color: var(--color5);
} */
.imagetext{
  font-family: 'Trade Winds';
    background-color:var(--color8);
    text-align: center;
    padding: 10px;
    font-size: 15px;
    color: var(--color5);
}
.animethumbs:hover{
    transform: scale(1.05);
}
.buttonplace{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
}
.leftbutton{
      border-radius:50%;
      height:75px;
      width:75px;
      border: none;
      box-shadow: var(--leftbuttonboxshadow);
      background-color: var(--color8);
      transition: transform .2s;

}
.leftbutton:hover{
    transform: scale(1.1);
}
.rightbutton{
  border-radius:50%;
  height:75px;
  width:75px;
  border: none;
  box-shadow: var(--leftbuttonboxshadow);
  background-color: var(--color8);
  transition: transform .2s;
  float: right;
}
.rightbutton:hover{
transform: scale(1.1);
}

.fa-angle-left{
    color: var(--color4);
}
.fa-angle-right{
  color: var(--color4);
}
.leftbutton:focus, .rightbutton:focus{
  outline:none;
}
#foot{
  box-shadow: var(--footboxshadow);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 50px;
  align-items: center;
  justify-items: center; 
  padding:1em;
  background-color:var(--color8);
  color: var(--color5);
}
/* for search */
/* label{
  color: aliceblue;
}
.typearea , .statusarea , .genrearea{
  display: grid;
  grid-template-columns: 1fr 15fr;
  margin: 5px;
}
.genrefilter{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
} */
#test1{
  position: absolute;
  right: 0;
  top:0;
  background-color: white;
  opacity: 0.5;
  margin: 0px;
  padding: 0px;

  /* color: aquamarine; */
}
