:root{
  --bodybgcolor: #272727;
  --navbarboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
  --navbardivbgcolor: /*#333*/ #375a7f;
  --midDivbgcolor:#464646;
  --midDivboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
  --footboxshadow: 2px 2px 2px 0px rgba(0,0,0,1);
  --footcolor:white;
  --footbgcolor: #333;
  --homeiconacolor:white;
  --searchbordercolor: #dadada;
  --searchbgcolor/*#1d1d1d*/ white;
  --searchcolor: #bdbdbd;
  --topnavbgcolor: #333;
  --topnavacolor: #f2f2f2;
  --topnavaActivebgcolor: #28415b;
  --topnavAactivecolor: white;
  --searchIcolor: rgb(218, 218, 218);
  --searchareaFocuscolor: #f39c12;
  --searchFocus:#f39c12;
  --genredropbtncolor: white;
  --genredropbtnHovercolor: #f39c12;
  --dropdowncontentboxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  --dropdowncontentAcolor: #E2E2E2;
  --topnavAhoverbgcolor: #2f4d6d;
  --dropdownHovergenredropbtnbgcolor: #2f4d6d/*#5C5A5A*/;
  --dropdowncontentAhoverColor: #f39c12;
  --dropdownHoverDropdownContentbgcolor: #272727;
  --rowheadingareabgcolor: #333;
  --rowheadingareacolor:white;
  --rowheadingareaborderrightcolor: #f39c12;
  --rowheadingareaboxshadow: 2px 2px 3px 1px rgba(0,0,0,1);
  --rowheadingareaHover: #f39c12;
  --animethumbsboxshadow: 2px 2px 5px 0px rgba(26,26,26,1);
  --animethumbsbgcolor: #333;/*rgb(255, 255, 255);*/
  --imagetextbgcolor: #333;
  --leftbuttonboxshadow: 3px 3px 3px 0px rgba(0,0,0,1);
  --leftbuttonbgcolor: #333;
  --faangleleftcolor: #f39c12;
  --acctgenredropbtncolor: rgb(146, 145, 145); 
  --acctareaAcolor: #f2f2f2;
  --acctareaAhoverbgcolor: #5C5A5A;
  --acctareaAhovercolor: #f39c12;
  --acctdropcontentboxshadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  --acctdropdownHoverAcctdropcontentbgcolor: rgb(29, 29, 29);
  --acctdropcontentPcolor: white;
  --themesliderbgcolor: #7c7c7c;
  --themesliderboxshadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  --themesliderdivbgcolor:#333;
  --themesliderleft: 0px;
  }
  a{
    font-family: 'Trade Winds';
  }
  body{
    background: var(--bodybgcolor);
  }
  
  .wrapper{
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    padding:0em;
    grid-gap:0.5em; 
    background-color: transparent;
  }
  nav{
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    text-align: center;
    /* grid-auto-rows: 55px; */
    z-index:5;
    box-shadow: var(--navbarboxshadow);
    background-color: #375a7f ;/*var(--navbardivbgcolor);*/  
  }
  nav a {
    padding: 15px;
    float: left;
    color: var(--topnavacolor);
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s;
  }
  
  .topnav a.active {
    background-color: var(--topnavaActivebgcolor);  
    color: var(--topnavAactivecolor);
  }
  .topnav a.active:hover {
    color: #f39c12;
  }
  nav a:hover{
    background-color: var(--topnavAhoverbgcolor);
    color: #f39c12;
  }
  
  
  #homeicon a,#homeicon a:hover{
    height:45px;
    font-size: 35px;
    margin-top: 0px;
    margin-left:0px;
    float: left;
    padding: 10px 15px 0px 15px;
    color:var(--homeiconacolor);
    text-decoration: none;
    text-align: center;
    text-decoration-style: none;
    font-family: 'Trade Winds';
    background-color: transparent;
  }
  
  .genredropbtn.active {
    background-color: var(--topnavaActivebgcolor);   
    color: var(--topnavAactivecolor);
  }
  
  .genredropdown {
    float: left;
    overflow: hidden;
    padding: 0px;
  }
  
  .genredropdown:hover .genredropbtn {
    background-color: var(--dropdownHovergenredropbtnbgcolor);
  }
  .genredropdown-content {
    margin-top:55px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: var(--dropdowncontentboxshadow);
    z-index: 1;
    padding:1em;
  }
  
  .genreid{
    background-color: transparent;
    float: left;
    color: var(--dropdowncontentAcolor);
    text-decoration: none;
    text-align: left;
    padding:3 px;
    /* margin: auto; */
    border: none;
  }
  
  
  .genreid:hover {
    color: var(--dropdowncontentAhoverColor);
    background-color: transparent;
  }
  
  .genredropdown:hover .genredropdown-content {
    display: grid;
    background-color:var(--dropdownHoverDropdownContentbgcolor);
    grid-template-columns: 1fr 1fr 1fr;
    /* text-align: left; */
  }
  
  input:focus{
    outline:none;
  }
  #searchform{
    float :right;
  }
  #search{
    /* position: absolute;
    right: 5; */
    width: 200px;
    height:25px;
    margin-top: 11px;
    /* margin-left: 50px; */
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: /*var(--searchbordercolor)*/ black;
    background-color: /*var(--searchbgcolor)*/white;
  
    padding:4px 4px 4px 6px;
  }
  #searchform{
    float: right;
  }
  #search:focus{
  border-color:var(--searchFocus);
  border-style: solid;
  }
  #searchform button{
    border-style: none;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    background-color: #444;
    color: white;
    padding: 9px;
    margin-left: 5px;
  }
  #searchform button:hover{
    background-color: #313132;
  }
  .acctarea{
    margin-left: 50px;
    display:block;
    padding-right: 10px;
  }
  #acctbtnicon{
    float: left; 
    color: white;
    padding: 11px 15px 11px 0px;
  }
  
  
  .acctarea:hover i{
    background-color: transparent;
    color: #f39c12;
  }
  #acctdropcontent{
    /* float: right; */
    margin-top:55px;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: var(--acctdropcontentboxshadow);
    z-index: 1;
    padding: 5px;
  }
  .acctarea:hover #acctdropcontent{
    display: grid;
    background-color: var(--acctdropdownHoverAcctdropcontentbgcolor);
  }
  #acctdropcontent p{
    color: var(--acctdropcontentPcolor);
  }
  #themeslider{
    background: var(--themesliderbgcolor);
    position: relative;
    top:-3px;
    height: 24px;
    width:24px ;
    border-radius: 50%;
    border:none;
    transition-duration: 0.2s;
    left:var(--themesliderleft);
    box-shadow: var(--themesliderboxshadow);
  }
  #themeslider:focus{
    outline: none;
  }
  
  #themesliderdiv{
    background-color:var(--themesliderdivbgcolor);
    width:40px;
    height:17px;
    border-radius: 200px;
  }
  #mid{
    display: grid;
    grid-template-columns:100%;
    grid-gap:0.5em;
    grid-auto-rows:minmax(350px,auto);
    height: 100%;
  }
  #mid>div{
    padding:1em;
    background-color: var(--midDivbgcolor);  
    box-shadow: var(--midDivboxshadow);
  
  }
  
  .row{
      display:grid;
      grid-template-columns: 1fr;
      position: relative;
  }
  .animethumbarea{
      display: grid;
      grid-template-columns: repeat(6,225px);
      grid-column-gap: 3em;
      justify-content:center;
      padding:1em;
      grid-row-gap: 3em;
  }
  .rowheadingarea{
      padding:1em;
      margin:1em;
      background-color: var(--rowheadingareabgcolor);
      /*width:30px;*/
      height: 20px;
      width: 5%;
      color:var(--rowheadingareacolor);
      border-right-width: 5px;
      border-right-color: var(--rowheadingareaborderrightcolor);
      border-right-style: solid;
      box-shadow: var(--rowheadingareaboxshadow);
  }
  .rowheadingarea:hover{
      color: var(--rowheadingareaHover);
  }
  .animethumbs{
    z-index:1;
    box-shadow: var(--animethumbsboxshadow);
    background-color:var(--animethumbsbgcolor);
    /* margin: 20px; */
    transition: transform .2s;
    /* max-height: 320px; */
    align-self: center;
  }
  .imagetext{
      background-color: /*#333;*/var(--imagetextbgcolor);
      text-align: center;
      padding:auto;
      color:white;
  }
  .animethumbs:hover{
      transform: scale(1.1);
  }
  .buttonplace{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
  }
  .leftbutton{
        border-radius:50%;
        height:75px;
        width:75px;
        border: none;
        box-shadow: var(--leftbuttonboxshadow);
        background-color: var(--leftbuttonbgcolor);
        transition: transform .2s;
  
  }
  .leftbutton:hover{
      transform: scale(1.1);
  }
  .rightbutton{
    border-radius:50%;
    height:75px;
    width:75px;
    border: none;
    box-shadow: var(--leftbuttonboxshadow);
    background-color: var(--leftbuttonbgcolor);
    transition: transform .2s;
  }
  .rightbutton:hover{
  transform: scale(1.1);
  }
  
  .fa-angle-left{
      color: var(--faangleleftcolor);
  }
  .fa-angle-right{
    color: var(--faangleleftcolor);
  }
  .leftbutton:focus, .rightbutton:focus{
    outline:none;
  }
  #foot{
    box-shadow: var(--footboxshadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 50px;
    align-items: center;
    justify-items: center; 
    padding:1em;
    background-color:var(--footbgcolor);
    color: var(--footcolor);
  }
  /* for search */
  label{
    color: aliceblue;
  }
  .typearea , .statusarea , .genrearea{
    display: grid;
    grid-template-columns: 1fr 15fr;
    margin: 5px;
  }
  .genrefilter{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  
  #dropdownMenuLink{
    background-color: transparent;
    border: transparent;
    padding: 15px;
  }
  #dropdownMenuLink:focus {
    outline: none;
  }
  .acctlinks{
    padding: 10px;
    float: none;
    text-align: left;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: #375a7f;
  }
  .acctlinks:hover{
    background-color:#313132 ;
    color: white;
  }
  .acctlinks:not(:last-child){
  border-bottom: thick black solid;
  }