.signuparea{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    background-color: #333;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.75);
    }
.signuparea p{
    color: white;
}
#username,.userpass{
    padding: 10px;
    background-color:#1d1d1d;
    border-style: solid;
    border-width: 1px;
    border-color: #dadada;
    color: #bdbdbd;
    border-radius: 3px;
}
#username:focus,.userpass:focus{
    border-color: #f39c12;
}
.submitbtnarea button{
    background-color: #2f4d6d;
    padding: 10px;
    /* float: right; */
    overflow: auto;
    color: white;
    border-style: none;
    border-radius: 3px;
    transition: background-color 5ms;
}
.submitbtnarea button:focus{
    border-style: solid;
    border: 1px;
    border-color: black;
}
.submitbtnarea button:hover{
    background-color: #28415B;
}
.mid{
    height: 100vh;
}
.inputboxdiv{
    display: grid;
}